*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
}
#container{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
#container h3{
    margin: 0 20px;
}
#container input{
    border: orange 2px solid;
    transition: 300ms ease;
    height: 27px;
    width: 180px;
    padding: 10px;
    margin: 0 20px
}
#container select{
    height: 50px;
    width: 180px;
    padding: 10px;
    border: orange 2px solid;
    margin: 0 20px;
}
#container button{
    height: 50px;
    width: 180px;
    padding: 10px;
    border: orange 2px solid;
}
#container input:focus{
    border: cornflowerblue 2px solid;
    outline: none;
}
#respuestas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#r1{
    display: none;
}
#imgr1{
    animation: fr 5s infinite;
    width: 600px;
    height: 600px;
}


@keyframes fr {
    50%{
        transform: rotate(360deg);
    }
}
